<h2>自定义代码编辑器</h2>
<!-- <div class="editor">
    <angular-monaco-editor [(ngModel)] = "code"></angular-monaco-editor>
</div> -->
<div class="editor">
    <angular-monaco-editor [options]="options" [(ngModel)]="code"></angular-monaco-editor>
</div>

<div class="dataShow">
    <pre>Data in the app: {{code}}</pre>
</div>

<div class="setCode">
    <button (click)="setCode()">Set code in the app component</button>
</div>

<!-- <angular-monaco-editor [options]="options" [model]="model"></angular-monaco-editor> -->