<h2>自定义代码编辑器</h2>
<!-- <div class="editor">
    <angular-monaco-editor [(ngModel)] = "code"></angular-monaco-editor>
</div> -->
<div class="dataShow">
    <pre>Data in the app: {{jsonCode}}</pre>
</div>
    
<div class="setCode">
    <button (click)="setCode()">Set code in the app component</button>
</div>

<div class="editorPanel">
    <angular-monaco-editor class="customMonacoEditor" [options]="options"[(ngModel)]="jsonCode" [model]="model" (onInit)="onInitHandler($event)"
        (onTouched)="onTouchedHandler($event)" (onChange)="onChangeHandler($event)"></angular-monaco-editor>
</div>

<!-- <div class="editorPanel2">
    <angular-monaco-editor [(ngModel)]="jsonCode" ></angular-monaco-editor>
</div> -->

