.editorPanel{
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.editorPanel .customMonacoEditor { /*set automaticLayout*/
    height: calc(100vh - 0px);
}